<div class="author-widget">
    <img class="author-thumb" src="~/img/author-widget.png" alt="author">
    <div class="author-content">
        <h3>
            <a href="#">Chikere</a>
            <span>DEVELOPER | WRITER</span>
        </h3>
        <p>Hi! I'm Chikere, a full stack developer from Alabama who programs web applications and software using ASP.NET and C#. <a asp-controller="Home" asp-action="About" style="color:darkred">More about me.</a></p>
        <img src="~/img/signature.png" alt="sign">
    </div>
</div>
