@using CEBlog.Models
@using CEBlog.Services

@inject IImageService imageService

@model IEnumerable<Blog>

<div class="widget-heading">
    <h3>
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" fill="currentColor">
            <path d="M632.307-140.001q-24.538 0-42.268-17.731-17.73-17.73-17.73-42.268v-167.693q0-24.538 17.73-42.268t42.268-17.73H800q24.538 0 42.268 17.73 17.731 17.73 17.731 42.268V-200q0 24.538-17.731 42.268-17.73 17.731-42.268 17.731H632.307Zm0-59.999H800v-167.693H632.307V-200Zm-532.306-53.847v-59.999h344.615v59.999H100.001Zm532.306-278.462q-24.538 0-42.268-17.73t-17.73-42.268V-760q0-24.538 17.73-42.268 17.73-17.731 42.268-17.731H800q24.538 0 42.268 17.731 17.731 17.73 17.731 42.268v167.693q0 24.538-17.731 42.268-17.73 17.73-42.268 17.73H632.307Zm0-59.998H800V-760H632.307v167.693Zm-532.306-53.847v-59.999h344.615v59.999H100.001Zm616.153 362.308Zm0-392.308Z" />
        </svg>
        <span>Categories</span>
    </h3>

    <ul class="widget-category-list">

        @foreach (var blog in Model)
        {
            <li class="img-hover-move">
                <a asp-action="CategoryIndex" asp-controller="Posts" asp-route-categoryname="@blog.Name" class="media">
                    <img src="@imageService.DecodeImage(blog.ImageData, blog.ContentType)" alt="thumb">@blog.Name <span>@blog.Posts.Count()</span>
                </a>
            </li>
        }

    </ul>
</div>
