@using CEBlog.ViewModels
@model ContactMe

<section class="contact-section padding">
    <div class="map-pattern"></div>
    <div class="container">
        <div class="row gy-4 align-items-center">
            <div class="col-lg-6">
                <div class="section-heading mb-30">
                    <h2>Get in touch</h2>
                    <p>For all inquiries please contact me.</p>
                </div>
                <ul class="contact-info"> 
                    <li><span>Mail:</span><a href="mailto:chikere@chikere.dev">chikere@chikere.dev</a></li>
                </ul>
            </div>
            <div class="col-lg-6">
                <div class="contact-form">
                    <form action="php/contact.php" method="post" id="ajax_contact" class="form-horizontal">
                        <div class="contact-form-group">
                            <div class="form-field">
                                <input type="text" id="firstname" name="firstname" class="form-control" placeholder="First Name" required="">
                            </div>
                            <div class="form-field">
                                <input type="text" id="lastname" name="lastname" class="form-control" placeholder="Last Name" required="">
                            </div>
                            <div class="form-field">
                                <input type="email" id="email" name="email" class="form-control" placeholder="Email" required="">
                            </div>
                            <div class="form-field">
                                <input type="text" id="phone" name="phone" class="form-control" placeholder="Phone Number" required="">
                            </div>
                            <div class="form-field message">
                                <textarea id="message" name="message" cols="30" rows="4" class="form-control" placeholder="Message" required=""></textarea>
                            </div>
                            <div class="form-field submit-btn">
                                <button id="submit" class="default-btn text-anim" type="submit" data-text="Send Massage">Send Massage</button>
                            </div>
                        </div>
                        <div id="form-messages" class="alert" role="alert"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/.contact-section-->

@section Scripts{

    <script>
        //Default font size but not for placeholder...
        $('#Message').summernote({
            placeholder: "Message"
        });
    </script>



}