@using CEBlog.ViewModels
@model ContactMe

<section class="contact-section padding">
    <div class="map-pattern"></div>
    <div class="container">
        <div class="row gy-4 align-items-center">
            <div class="col-lg-6">
                <div class="section-heading mb-30">
                    <h2>Get in touch</h2>
                    <p>For all inquiries please contact me.</p>
                </div>
                <ul class="contact-info"> 
                    <li><span>Mail:</span><a href="mailto:chikere@chikere.dev">chikere@chikere.dev</a></li>
                </ul>
            </div>
            <div class="col-lg-6">
                <div class="contact-form">
                    <form asp-action="Contact" method="post" id="ajax_contact" class="form-horizontal">
                        <div class="contact-form-group">
                            <div class="form-field">
                                <input asp-for="FirstName" type="text" id="firstname" class="form-control" placeholder="First Name" required data-validation-required-message="Please enter your first name.">
                            </div>
                            <div class="form-field">
                                <input asp-for="LastName" type="text" id="lastname" class="form-control" placeholder="Last Name" required data-validation-required-message="Please enter your last name.">
                            </div>
                            <div class="form-field">
                                <input asp-for="Email" type="email" id="email" class="form-control" placeholder="Email" required data-validation-required-message="Please enter your email address.">
                            </div>
                            <div class="form-field">
                                <input asp-for="Phone" type="text" id="phone" class="form-control" placeholder="Phone Number" required data-validation-required-message="Please enter your phone number.">
                            </div>
                            <div class="form-field message">
                                <textarea asp-for="Message" id="message" cols="30" rows="4" class="form-control" placeholder="Message" required data-validation-required-message="Please enter a message."></textarea>
                            </div>
                            <div class="form-field submit-btn">
                                <button id="submit" class="default-btn text-anim" type="submit" data-text="Send Message">Send Message</button>
                            </div>
                        </div>
                        <div id="form-messages" class="alert" role="alert"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/.contact-section-->

@section Scripts{

    <script>
        //Default font size but not for placeholder...
        $('#Message').summernote({
            placeholder: "Message"
        });
    </script>



}