<section class="page-header error-page">
    <div class="container">
        <div class="page-content-wrap">
            <div class="page-content mx-auto text-center">
                <h4>404 Error</h4>
                <h2 class="justify-content-center">Oopps... Page <br>not found</h2>
                <p>Oops! The page you are looking for does not exist. <br> It might have been moved or deleted.</p>
                <a asp-controller="Home" asp-action="Index" class="default-btn text-anim" data-text="Back to Home">Back to Home</a>
            </div>
        </div>
    </div>
</section>
<!--/.page-header-->
